.support-btn {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 2%;
  bottom: 35%;
  background-color: #ffc931;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  z-index: 11;
  transition: ease-in-out 0.3s;
}

.support-btn img {
  width: 35px;
  height: 35px;
}

.support-text {
  color: rgb(43, 39, 39);
  font-weight: 900;
  font-size: smaller;
  transition: ease-in-out 0.3s;
}

.support-btn:hover {
  transform: scale(1.3);
}

.support-btn:hover > .support-text {
  color: #e91b1b;
}

.WA-btn {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 2%;
  bottom: 50%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  z-index: 11;
  transition: ease-in-out 0.3s;
}

.WA-btn:hover {
  transform: scale(1.3);
}

.WA-btn img {
  width: 40px;
  height: 40px;
}

/* form */

#repair-form {
  width: 100%;
  top: 0;
  overflow: hidden;
  position: relative;
}

#repair-form img {
  width: 100%;
  height: auto;
  opacity: 0.1;
  position: absolute;
  top: 0;
}

.textarea {
  margin-right: 40px;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px -1px #ccc;
  border-radius: 7px;
  border-top: 5px solid #ffc931;
  border-bottom: 5px solid #ffc931;
  background-color: #fff;
}

.form-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.repair-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.repair-input {
  width: 300px;
  margin: 20px 0;
}

.btn-submit {
  box-shadow: 0 0 3px 0 #0d2349;
  color: #fff;
  background-image: linear-gradient(to top, #0d2349 10%, #303f9f 100%);
  transition: ease-in-out 0.3s;
  padding: 5px;
}

.btn-submit:hover {
  transform: scale(1.2);
  color: #fff;
}

.expertises-item img {
  width: 300px;
  height: 300px;
}

/* about us */

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px -1px #ccc;
  border-radius: 7px;
  border-top: 5px solid #ffc931;
  border-bottom: 5px solid #ffc931;
  background-color: #fff;
  text-align: center;
  width: 100%;
}

label {
  cursor: pointer;
}

.box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 20px;
  width: 400px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.54);
}

.box-image {
  width: 330px;
  border-radius: 5px;
  margin-bottom: 30px;
}

/* blogs */
.blogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.blogs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.blogs-container article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 20px;
  width: 450px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.54);
}

.article img {
  width: 400px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.limit-words {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* blog */

.blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 30px 0;
  position: relative;
  right: 0;
  direction: rtl;
}

.blog-container img {
  width: 600px;
  height: auto;
  margin: 50px 0;
}
/* نظرات کاربران */

.comments {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  border-top: 5px solid #ffc931;
  position: relative;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px -1px #ccc;
  border-radius: 7px;
  border-top: 5px solid #ffc931;
  border-bottom: 5px solid #ffc931;
  background-color: #fff;
}

.comment-section {
  list-style: none;
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  padding: 10px;
}

.comment {
  display: flex;
  border-radius: 3px;
  margin-bottom: 45px;
  flex-wrap: wrap;
}

.comment.user-comment {
  color: #808080;
}

.comment.author-comment {
  color: #60686d;
  justify-content: flex-end;
}

/* User and time info */

.comment .info {
  width: 17%;
}

.comment.user-comment .info {
  text-align: right;
}

.comment.author-comment .info {
  order: 3;
}

.comment .info a {
  /* User name */
  display: block;
  text-decoration: none;
  color: #656c71;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0 3px 0;
}

.comment .info span {
  /* Time */
  font-size: 11px;
  color: #9ca7af;
}

/* The user avatar */

.comment .avatar {
  width: 8%;
}

.comment.user-comment .avatar {
  padding: 10px 18px 0 3px;
}

.comment.author-comment .avatar {
  order: 2;
  padding: 10px 3px 0 18px;
}

.comment .avatar img {
  display: block;
  border-radius: 50%;
}

.comment.user-comment .avatar img {
  float: right;
}

/* The comment text */

.comment p {
  line-height: 1.5;
  padding: 18px 22px;
  width: 50%;
  position: relative;
  word-wrap: break-word;
}

.comment.user-comment p {
  background-color: #f3f3f3;
}

.comment.author-comment p {
  background-color: #e2f8ff;
  order: 1;
}

.user-comment p:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #f3f3f3;
  left: -8px;
  top: 18px;
}

.author-comment p:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #e2f8ff;
  right: -8px;
  top: 18px;
}

/*  */

.comment-user {
  display: flex;
  flex-direction: row-reverse;
}

.comment-user input {
  margin: 0 30px;
}

.comment-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#contact {
  background: #2c3e50;
  color: #fff;
}

.color {
  color: #fff;
}

@media (max-width: 575.98px) {
  .support-btn {
    width: 80px;
    height: 80px;
    bottom: 2%;
  }
  .support-btn img {
    width: 45px;
    height: 45px;
  }
  .WA-btn {
    width: 80px;
    height: 80px;
    left: 0;
    bottom: 2%;
  }
  .WA-btn img {
    width: 45px;
    height: 45px;
  }
  .form-container {
    flex-direction: column-reverse;
  }
  #repair-form img {
    width: 100%;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    top: 0;
  }

  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 10px;
  }

  .box-container {
    flex-direction: column;
  }

  .box {
    width: 350px;
  }

  .box-image {
    width: 280px;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  .blogs-container {
    flex-direction: column;
  }

  .blogs-container article {
    width: 300px;
  }
  .article img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .blog-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blog-container img {
    width: 100%;
  }

  .comments {
    width: 100%;
    font-size: small;
  }
  .comments h2 {
    font-size: 20px;
  }

  .comment-user {
    flex-direction: column;
  }

  .comment-info {
    margin: 0 40px;
  }

  /* Make the paragraph in the comments take up the whole width,
    forcing the avatar and user info to wrap to the next line*/
  .comment p {
    width: 100%;
  }

  /* Reverse the order of elements in the user comments,
  so that the avatar and info appear after the text. */
  .comment.user-comment .info {
    order: 3;
    text-align: left;
  }

  .comment.user-comment .avatar {
    order: 2;
  }

  .comment.user-comment p {
    order: 1;
  }

  /* Align toward the beginning of the container (to the left)
  all the elements inside the author comments. */
  .comment.author-comment {
    justify-content: flex-start;
  }

  .comment-section {
    margin-top: 10px;
  }

  .comment .info {
    width: auto;
  }

  .comment .info a {
    padding-top: 15px;
  }

  .comment.user-comment .avatar,
  .comment.author-comment .avatar {
    padding: 15px 10px 0 18px;
    width: auto;
  }

  .comment.user-comment p:after,
  .comment.author-comment p:after {
    width: 12px;
    height: 12px;
    top: initial;
    left: 28px;
    bottom: -6px;
  }
}

@media (max-width: 820.98px) {
  .blogs-container {
    flex-direction: column;
  }

  .blogs-container article {
    width: 300px;
  }
  .article img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .blog-container {
    min-height: 200px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .support-btn {
    width: 80px;
    height: 80px;
    bottom: 2%;
  }
  .support-btn img {
    width: 40px;
    height: 40px;
  }
  .WA-btn {
    width: 80px;
    height: 80px;
    left: 0;
    bottom: 2%;
  }
  .WA-btn img {
    width: 40px;
    height: 40px;
  }
  .form-container {
    flex-direction: column-reverse;
  }
  #repair-form img {
    width: 100%;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    top: 0;
  }

  .about-us {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .box-container {
    flex-direction: column;
  }

  .box {
    width: 350px;
  }

  .box-image {
    width: 280px;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  .comments {
    width: 100%;
    font-size: small;
  }

  .comments h2 {
    font-size: 20px;
  }

  .comment-user {
    flex-direction: column;
  }

  /* Make the paragraph in the comments take up the whole width,
    forcing the avatar and user info to wrap to the next line*/
  .comment p {
    width: 100%;
  }

  /* Reverse the order of elements in the user comments,
  so that the avatar and info appear after the text. */
  .comment.user-comment .info {
    order: 3;
    text-align: left;
  }

  .comment.user-comment .avatar {
    order: 2;
  }

  .comment.user-comment p {
    order: 1;
  }

  /* Align toward the beginning of the container (to the left)
  all the elements inside the author comments. */
  .comment.author-comment {
    justify-content: flex-start;
  }

  .comment-section {
    margin-top: 10px;
  }

  .comment .info {
    width: auto;
  }

  .comment .info a {
    padding-top: 15px;
  }

  .comment.user-comment .avatar,
  .comment.author-comment .avatar {
    padding: 15px 10px 0 18px;
    width: auto;
  }

  .comment.user-comment p:after,
  .comment.author-comment p:after {
    width: 12px;
    height: 12px;
    top: initial;
    left: 28px;
    bottom: -6px;
  }
}

@media (max-width: 1200.98px) {
  .blogs-container {
    flex-direction: column;
  }

  .blogs-container article {
    width: 400px;
  }
  .article img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .support-btn {
    bottom: 2%;
  }
  .WA-btn {
    width: 80px;
    height: 80px;
    left: 0;
    bottom: 2%;
  }
  .WA-btn img {
    width: 40px;
    height: 40px;
  }

  .about-us {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .comments {
    width: 100%;
    font-size: small;
  }

  .comments h2 {
    font-size: 20px;
  }

  .comment-user {
    flex-direction: column;
  }
}
